*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #044350;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: #eef8e0;
}
.form{
    width: 100%;
    margin-bottom: 1rem;
}
.input{
    outline: none;
  background: none;
  border: 1px solid #044350;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #021d47;
  margin-right: .5rem;
  font-weight:bold ;
}
.btn{
    background:#044350;
    color:  #eef8e0;
    border: none;
    padding: 0.55rem;
    cursor: pointer; 
    margin-right: .5rem;
    border-radius: 8px;
    font-size: 1.2rem;
}
.tasks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#044350;
    color:  #eef8e0;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.delete{
    cursor: pointer;
    font-size: 1.2rem;
    color: #b21f1f;

}
.edit{
    cursor: pointer;
    font-size: 1.2rem;
    color:  #eef8e0;
    margin-right: .2rem;
    
}

.done{
    cursor: pointer;
    font-size: 1.2rem;
    color:  #eef8e0;
    margin-right: .2rem;
}
.doneClicked{
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-color:#da0808;
    opacity: 0.9;
    color: #07be16;
}